In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [3]:
df = pd.read_csv("C:/Users/LENOVO/Desktop/Research_Paper/creditcard_data.csv")

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [8]:
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [9]:
print(legit.shape)

(284315, 31)

In [10]:
print(fraud.shape)

(492, 31)

In [11]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**The data is unbalanced so the following things are done to make it balanced**

**We are building a sample dataset similar to distribution of normal transcations and fraudulent transaction**

In [14]:
legit_sample =legit.sample(n=492)

In [15]:
df_new= pd.concat([legit_sample,fraud],axis=0)

In [16]:
df_new.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
72227,54620.0,1.405123,-1.010756,0.553558,-1.376039,-1.362043,-0.487572,-0.917318,-0.141960,-1.998776,...,-0.395474,-0.787715,0.202272,0.047969,0.069709,-0.457747,0.052736,0.032756,45.54,0
142821,84959.0,-0.475193,1.271992,1.222909,-0.346524,0.864137,-0.397458,1.416051,-0.748047,0.271310,...,-0.523594,-0.692204,-0.229102,-0.486687,0.023584,0.044421,-0.015359,-0.454528,17.99,0
264669,161530.0,1.473233,-1.329523,-3.285106,-1.290396,0.417157,-1.660803,1.483416,-0.793286,0.836551,...,0.526949,0.943105,-0.549761,0.822291,0.738017,0.155285,-0.151666,-0.018231,386.35,0
259409,159102.0,-0.611813,0.701074,-0.220978,-0.984673,-0.741935,0.871775,0.509043,0.506441,0.340712,...,0.190660,0.597119,-0.154594,-1.356303,-0.376324,0.530413,0.000550,-0.047028,186.00,0
274540,166072.0,1.914159,-0.150418,-1.560722,0.410331,-0.084698,-0.977095,-0.039434,-0.059820,0.943463,...,-0.182278,-0.403152,0.184178,-0.129841,-0.171470,-0.106768,-0.019892,-0.029396,34.66,0

In [17]:
df_new['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [18]:
df_new.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94055.164634,0.139450,-0.083523,0.021689,0.060409,0.043100,-0.009392,0.030849,0.024013,-0.057938,...,-0.011297,0.033106,0.084388,-0.041055,0.014252,0.080838,0.001347,-0.017588,-0.022793,84.719492
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
X=df_new.drop(columns='Class',axis=1)
y=df_new['Class']

In [20]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
72227    54620.0  1.405123 -1.010756  0.553558 -1.376039 -1.362043 -0.487572
142821   84959.0 -0.475193  1.271992  1.222909 -0.346524  0.864137 -0.397458
264669  161530.0  1.473233 -1.329523 -3.285106 -1.290396  0.417157 -1.660803
259409  159102.0 -0.611813  0.701074 -0.220978 -0.984673 -0.741935  0.871775
274540  166072.0  1.914159 -0.150418 -1.560722  0.410331 -0.084698 -0.977095
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
72227  -0.917318 -0.141960 -1.998776  ... -0.226309 -0.395474 -0.787715
142821  1.416051 -0.748047  0.271310  ...  0.687756 -0.523594 -0.692204
264669  1.483416 -0.793286  0.836551  ...  0.596758  0.526949  0.943105
259409  0.509043  0.506441  0.340712  ... -0.228227  0.190660  0.597119
274540 -0.039434 -0.059820  0.943463  ... -0.212841 -0.182278 -0.403152
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
72227   0.202272  0.047969  0.069709 -0.457747  0.052736  0.032756   45.54
142821 -0.229102 -0.486687  0.023584  0.044421 -0.015359 -0.454528   17.99
264669 -0.549761  0.822291  0.738017  0.155285 -0.151666 -0.018231  386.35
259409 -0.154594 -1.356303 -0.376324  0.530413  0.000550 -0.047028  186.00
274540  0.184178 -0.129841 -0.171470 -0.106768 -0.019892 -0.029396   34.66
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

print(y)

In [21]:
print(y)

72227     0
142821    0
264669    0
259409    0
274540    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [22]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2,stratify=y, random_state=17)

In [23]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [24]:
model = RandomForestClassifier()

In [25]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [26]:
X_train_pred = model.predict(X_train)
accuracy_model = accuracy_score(X_train_pred,y_train)

In [27]:
print('Accuracy on training data:',accuracy_model)

Accuracy on training data: 1.0

In [28]:
X_test_pred = model.predict(X_test)
accuracy_model1 = accuracy_score(X_test_pred,y_test)

In [29]:
print('Accuracy on test data:',accuracy_model1)

Accuracy on test data: 0.9390862944162437

In [30]:
y_pred = model.predict(X_test)

In [31]:

# Evaluate the model using precision, recall, and F1 score
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

Precision: 0.98
Recall: 0.90
F1 Score: 0.94

In [32]:
from sklearn.metrics import confusion_matrix, classification_report, ConfusionMatrixDisplay

In [33]:
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.98      0.94        98
           1       0.98      0.90      0.94        99

    accuracy                           0.94       197
   macro avg       0.94      0.94      0.94       197
weighted avg       0.94      0.94      0.94       197

In [34]:
y_pred_proba_random_forest = model.predict_proba(X_test)[:, 1]

In [35]:
np.save('random_forest_pred_proba.npy', y_pred_proba_random_forest)

In [36]:
print(y_pred_proba_random_forest)

[0.07 0.89 1.   0.08 0.99 0.04 1.   0.99 0.   0.38 0.67 1.   0.21 1.
 0.08 1.   0.02 0.02 0.13 0.29 0.4  0.73 0.03 0.99 0.01 1.   1.   0.03
 0.03 1.   1.   0.   0.96 0.51 0.99 0.04 0.19 0.98 0.02 0.37 1.   0.77
 1.   0.01 0.09 0.27 1.   1.   0.19 0.04 1.   0.18 0.06 1.   0.01 0.
 0.4  0.13 0.01 1.   0.04 0.2  0.   1.   1.   1.   0.1  0.41 0.02 0.
 0.   0.03 0.13 0.02 1.   0.22 0.6  0.02 0.13 1.   0.03 1.   0.2  1.
 0.32 1.   0.11 1.   1.   0.15 0.26 0.15 0.08 1.   1.   0.27 0.17 0.1
 0.98 0.05 0.   0.99 0.07 1.   0.4  1.   1.   0.42 0.38 0.02 0.01 0.27
 0.   0.89 1.   1.   1.   0.77 0.03 0.   1.   1.   0.03 0.01 0.08 0.05
 1.   0.99 0.13 1.   0.   1.   0.63 1.   0.01 0.01 1.   0.79 1.   1.
 0.38 1.   0.02 0.1  0.97 1.   0.04 1.   0.   0.11 0.04 0.14 1.   1.
 1.   0.02 0.06 1.   0.4  0.91 0.78 0.2  0.23 0.08 0.69 0.01 0.36 0.04
 0.04 0.01 0.24 1.   0.03 0.8  1.   1.   1.   0.98 0.04 0.99 0.96 0.25
 0.97 1.   0.94 0.98 0.96 0.02 0.97 0.97 1.   0.31 1.   1.   0.3  0.
 0.  ]